<%= turbo_stream.replace dom_id(@post, :like) do %>
  <div id="<%= dom_id(@post,:like)%>">
    <%= button_to post_unlike_path(@post),
    method: :delete,
    title: "Beğenmekten vazgeç",
  class:
    "
        flex flex-row gap-1 group hover:bg-rose-950 rounded-full p-2 duration-400
  " do %>
      <%= heroicon "heart", options: { class: "w-5 h-5 text-rose-600" }, variant: :solid %>
      <span class="text-sm text-rose-600"><%= @post.likes.count %></span>

    <% end %>
  </div>
<% end %>
