<% items = [
  {
    href_class: "flex group",
    div_class:
      "flex items-center justify-center group-hover:bg-white/10 duration-300 rounded-full",
    icon_name: "home",
    icon_class: "text-white w-7 h-7",
    header_name: "Anasayfa",
    header_class: "font-bold text-xl",
    icon_variant: :solid,
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300 
                                    rounded-full",
    icon_name: "magnifying-glass",
    icon_class: "text-white w-7 h-7",
    header_name: "Keşfet",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300 
                                    rounded-full",
    icon_name: "bell",
    icon_class: "text-white w-7 h-7",
    header_name: "Bildirimler",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "envelope",
    icon_class: "text-white w-7 h-7",
    header_name: "Mesajlar",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "grok.svg",
    icon_class: "text-white w-7 h-7 invert",
    header_name: "Grok",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "bookmark",
    icon_class: "text-white w-7 h-7",
    header_name: "Yer işaretleri",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "briefcase",
    icon_class: "text-white w-7 h-7",
    header_name: "İşler",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "users",
    icon_class: "text-white w-7 h-7",
    header_name: "Topluluklar",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "check-badge",
    icon_class: "text-white w-7 h-7",
    header_name: "Premium",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "bolt",
    icon_class: "text-white w-7 h-7",
    header_name: "Onaylı kuruluşlar",
    header_class: "text-xl text-nowrap",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "user",
    icon_class: "text-white w-7 h-7",
    header_name: "Profil",
    header_class: "text-xl",
  },
  {
    href_class: "flex group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "ellipsis-horizontal-circle",
    icon_class: "text-white w-7 h-7",
    header_name: "Daha fazla",
    header_class: "text-xl",
  },
] %>
<div class="flex mx-auto container">
  <header class="basis-3/20 xl:basis-2/10">
    <div class=" flex items-start sticky top-0 flex-col gap-2 xl:gap-3 h-screen ">
      <div class=" invert text-white w-full flex justify-center xl:justify-start ">
        <div
          class="
            flex items-center justify-center py-3 ms-1 px-3 space-x-5 rounded-full
            hover:bg-gray-300 duration-300
          "
        >
          <%= image_tag "logo.svg", class: "w-7 h-7" %>
        </div>
      </div>
      <% items.each do |item| %>
        <div class="w-full">
          <a
            href="#"
            class="
              <%= item[:href_class]%> items-center justify-center
              xl:justify-start
            "
          >
            <div class="<%= item[:div_class]%> xl:p-2 xl:pl-4 xl:pr-6 xl:space-x-5">
              <% if item[:icon_name] == "grok.svg" %>
                <%= image_tag item[:icon_name], class: item[:icon_class] %>
              <% else %>
                <%= heroicon item[:icon_name],
                options: {
                  class: "#{item[:icon_class]} m-3 xl:mr-5 xl:my-0 xl:mx-0",
                },
                variant: (item[:icon_variant] || :outline) %>
              <% end %>
              <h1 class="<%= item[:header_class]%> hidden xl:block">
                <%= item[:header_name] %>
              </h1>
            </div>
          </a>
        </div>
      <% end %>
      <div class="flex justify-center mt-1 w-full">
        <a
          href="#"
          class="text-black bg-white rounded-full text-xl p-0 xl:py-3 xl:px-12"
        >
          <h1 class="hidden xl:block font-bold text-lg">Gönderi yayınla</h1>
          <%= heroicon "pencil-square",
          options: {
            class: "block xl:hidden w-7 h-7 mx-3 my-3 ",
          } %>
        </a>
      </div>
      <div class=" h-full flex items-end justify-center xl:justify-start w-full ">
        <a
          href="#"
          class="
            flex gap-2 justify-between mb-8 xl:ms-3 xl:w-full hover:bg-white/10 duration-300
            rounded-full ps-2 py-2 me-2
          "
        >
          <div class="flex gap-2">
            <div class="flex justify-center">
              <%= image_tag "https://picsum.photos/id/#{rand(1..200)}/200/300",
              class: "w-11 h-11 rounded-full" %>
            </div>
            <div class="hidden xl:block">
              <h3 class="text-sm font-bold text-white">Tuncay Dinler</h3>
              <span class="text-white/60">@tuncaydinler</span>
            </div>
          </div>
          <div class="xl:flex items-center hidden xl:me-4">
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-5 h-5 xl:w-6 xl:h-6 hover:text-sky-300 text-white/80",
              } %>
            <% end %>

          </div>
        </a>
      </div>
    </div>
  </header>
  <main class="basis-9/10 lg:basis-5/10 border-white/20 border-x flex flex-col">
    <div
      class="
        grid grid-cols-2 h-14 border-b border-white/20 sticky top-0 backdrop-blur-md
        bg-black/60
      "
    >
      <a
        href="#"
        class="hover:bg-white/10 duration-300 flex items-center justify-center"
      >
        <h3 class="text-md text-gray-400">Sana özel</h3>
      </a>
      <a
        href="#"
        class="
          hover:bg-white/10 duration-300 flex flex-col items-center justify-between
        "
      >
        <hr class="invisible">
        <h3 class="text-md text-white font-bold">Takip</h3>
        <hr class="border-2 w-13 rounded-full border-blue-500">
      </a>
    </div>
    <div class="foru flex gap-2 border-b border-white/20">
      <div class="img">

        <%= image_tag "https://picsum.photos/id/237/200/300",
        class: "w-11 h-11 rounded-full m-3 cursor-pointer" %>
      </div>

      <div class="w-full group">
        <textarea
          class="
            w-fit bg-black my-4 text-xl outline-none peer/post_area resize-none
            overflow-hidden
          "
          placeholder="Neler Oluyor?"
        ></textarea>
        <div
          class="
            group-focus-within:flex items-center hidden gap-1 justify-start mb-2
            text-blue-400 text-sm
          "
        >
          <%= heroicon "globe-asia-australia", options: { class: "w-5 h-5 cursor-pointer" } %>
          <span class="font-bold cursor-pointer">Herkes yanıtlayabilir</span>
        </div>
        <div class="h-[1px] w-[90%] bg-gray-700 hidden group-focus-within:block"></div>
        <div class="flex justify-between h-14 items-center">
          <div class="flex text-blue-400 gap-5">
            <%= heroicon "photo",
            options: {
              class: "w-5 h-5 cursor-pointer",
            },
            variant: :outline %>
            <%= heroicon "gif", options: { class: "w-5 h-5 cursor-pointer" }, variant: :outline %>
            <%= heroicon "list-bullet", options: { class: "w-5 h-5 cursor-pointer" } %>
            <%= heroicon "adjustments-horizontal", options: { class: "w-5 h-5 cursor-pointer" } %>
            <%= heroicon "calendar", options: { class: "w-5 h-5 cursor-pointer" } %>
            <%= heroicon "map-pin",
            options: {
              class: "w-5 h-5 cursor-pointer",
            },
            variant: :outline %>
          </div>

          <button
            class="
              px-3 py-2 rounded-full font-bold bg-white/85 text-black
              peer-placeholder-shown/post_area:bg-red-400
            "
          >
            Gönderi yayınla
          </button>
        </div>
      </div>

    </div>
    <div id="posts">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et
      dolor doloremque quae, est voluptate nostrum sequi at quia, minus illum
      possimus laudantium, assumenda modi ipsum? Impedit architecto ipsam
      molestias? Quaerat consequatur fugit fuga inventore doloribus ratione
      veritatis, quasi eligendi accusamus sapiente. Recusandae consequatur
      deleniti, cupiditate cumque minima laboriosam eligendi officiis dolore
      placeat quam commodi reprehenderit architecto quasi ullam quos. Quis ad
      corrupti blanditiis delectus. Quia odio maiores placeat velit rerum
      quaerat fugiat ut blanditiis deserunt eveniet. Modi, odit porro,
      cupiditate qui perferendis obcaecati cumque, omnis nostrum ut blanditiis
      fugit. Quidem quod, amet veniam, omnis odio, odit quisquam saepe fugiat
      eaque dolores expedita magni. Autem repellat architecto exercitationem
      aspernatur, natus laudantium inventore veniam nulla quisquam fugit
      voluptatem, accusantium totam id. Consequatur unde cupiditate numquam eos
      sint nemo animi assumenda velit voluptatibus placeat similique debitis
      corporis, veniam, cum possimus modi neque, repudiandae eaque tempore!
      Laboriosam vel quas magnam, quisquam hic inventore? Laborum aspernatur
      consequuntur alias praesentium hic aliquam amet unde qui id debitis
      ducimus soluta non minima laboriosam delectus exercitationem itaque
      recusandae, omnis nulla reprehenderit error perferendis in? Assumenda,
      aperiam vel? Voluptates perferendis delectus officia, laboriosam numquam
      libero excepturi nostrum suscipit possimus. Quas deleniti voluptates
      magnam perferendis aut dicta vitae sed animi eos natus! Quia illum veniam
      ab perferendis rem officia. Veniam est, voluptatum asperiores,
      perferendis maiores id corporis atque vel iusto hic magni fugiat autem.
      At sed autem dolorum architecto sit excepturi. Sit id dolore, voluptate
      laboriosam non deleniti numquam. Eius beatae provident vitae nihil
      repellendus ab consequatur rem libero. Tempore sed provident expedita
      odit dignissimos itaque sunt, vero, et nemo cumque laborum hic illum ea
      molestiae. Similique, laudantium. Dignissimos. Voluptatem repellendus
      temporibus nostrum nesciunt dolores molestias quis. Sint, beatae dicta!
      Eveniet quia minima reiciendis, atque animi nostrum ea enim hic ipsum
      vitae. Voluptas odio officiis illum obcaecati numquam consequuntur. A
      alias delectus voluptas maiores fugiat, quae ratione corrupti provident
      dicta animi aperiam ex odio ullam earum? Quia ullam cum sint soluta!
      Possimus vel, ab iste culpa dignissimos reprehenderit cupiditate. Rerum
      quasi eos deserunt veritatis quidem soluta, ipsam qui maiores temporibus,
      saepe libero? Aliquid in dicta provident voluptatem sit? Non quisquam
      dicta animi a aliquid facere tempore, quae labore iusto! Enim voluptatem
      tempora iure dolor facere sapiente tempore, exercitationem, dicta ab
      nihil culpa ipsam debitis similique veritatis eius? Tempora placeat nemo
      atque dignissimos esse, inventore cumque labore impedit omnis repellat.
      Minus consectetur sunt praesentium eius quisquam, numquam dolore omnis.
      Alias consectetur velit, a numquam ea eos adipisci voluptate maxime earum
      impedit eaque eveniet corrupti quam expedita soluta facere libero non?
      Dolorum, culpa sapiente, quod et dicta nobis pariatur magnam suscipit
      iure repellat quo vero ipsa natus quaerat ipsum ad, reprehenderit
      voluptatibus deserunt ex velit ut voluptatem nemo. Esse, odio facere!
      Perferendis esse, itaque consectetur natus mollitia hic accusamus atque
      nostrum. Expedita debitis odit nostrum esse quod, soluta autem cum cumque
      officiis quae, veniam laborum, temporibus adipisci sint eum vel
      explicabo. Impedit aperiam omnis perferendis alias, deserunt laborum
      vitae labore consequatur, eum ratione officiis quis quasi libero maiores
      pariatur itaque perspiciatis sed! Molestias quo asperiores earum ducimus?
      Odit necessitatibus quae magnam. Sed beatae ut cumque tempore dolore,
      iure in perferendis nostrum consequuntur porro fugiat iste ad veritatis
      at nobis qui! Aspernatur voluptatibus officiis, adipisci quaerat
      consequatur suscipit cumque alias earum eos? Assumenda voluptatum debitis
      deleniti facere, sed et libero amet, vel, voluptatibus maxime explicabo?
      Provident, optio quisquam velit laboriosam hic aut blanditiis ratione
      cumque dicta nemo! Ratione deserunt pariatur libero minima. Ullam cumque
      tenetur in obcaecati minima facere, accusamus provident doloremque,
      quisquam libero aliquam est fuga vel fugiat cupiditate blanditiis
      reprehenderit cum ducimus? Esse optio minus dolorum perspiciatis unde nam
      dolorem. Amet iure quisquam labore alias, at doloribus magni minima
      fugiat fugit, hic, numquam culpa! Qui ab explicabo quis rem fugit
      numquam, blanditiis, mollitia quas consequuntur distinctio eligendi
      accusamus repellendus quisquam. Et dolores maxime id consequuntur qui
      quibusdam porro eligendi repellat unde animi praesentium dignissimos
      nesciunt, repudiandae delectus quas nisi voluptate. Optio vitae fuga eum
      blanditiis nesciunt corporis corrupti culpa est. Harum, non unde. Natus
      cupiditate odio rem suscipit magni consectetur nisi repellat fugit fugiat
      repudiandae. Sapiente ut obcaecati unde, iure quam suscipit doloremque
      dolor nisi. Adipisci numquam possimus eveniet veritatis. Corporis nemo
      vitae optio quia velit incidunt accusamus perspiciatis labore! Eaque
      labore atque sapiente vero quisquam ut eos asperiores quia sint
      doloremque autem iste dolores, veniam laudantium nemo voluptate facere?
      Nam neque quia, libero exercitationem iste quas, impedit tempora
      aspernatur ipsam repudiandae molestiae excepturi vel tempore ad! Voluptas
      error illum facere, id sapiente a dolore ex, cumque natus, voluptatibus
      sequi? Molestiae quos aut error reiciendis, ratione explicabo sed eos
      doloremque earum accusantium ipsa sapiente inventore, quae sequi? Vitae,
      temporibus tenetur dolorem illum quo similique deserunt assumenda vero
      numquam et fuga! Natus tenetur reprehenderit architecto nisi, nostrum
      sed, odio quis ipsam temporibus hic similique quod sequi labore
      cupiditate aliquam accusamus quaerat culpa, neque est impedit aperiam
      animi laboriosam dolorum? Sequi, reiciendis. Quisquam eveniet blanditiis
      veritatis porro. Aliquam, quia sunt? Nihil et quo velit dicta
      perferendis? Laudantium at debitis adipisci quas aperiam laboriosam.
      Dolor libero laudantium similique aperiam placeat commodi iste esse?
      Quibusdam, ducimus. Tenetur id dolores, neque sint aperiam magnam sit,
      assumenda dignissimos asperiores deserunt alias natus! Accusantium
      voluptatibus in et recusandae magni sequi nisi quia dignissimos? Neque
      magni harum cupiditate! Vel consequuntur, ipsam quae dolorem sequi
      officiis vero odit ab nam odio maiores nesciunt magnam velit. Officiis
      voluptates quo, dolore eum doloremque quam esse sed, laboriosam at quos
      itaque animi. Nemo aperiam perspiciatis veritatis harum minima. Non esse
      exercitationem laudantium pariatur obcaecati reprehenderit nostrum vero
      quidem quis soluta? Adipisci, accusantium quas? Adipisci ducimus dolorum,
      quibusdam quis velit atque harum sunt? Ipsum facilis, laboriosam atque
      ullam libero nobis itaque! Praesentium iste, maxime vitae dolorem eius
      quia incidunt assumenda aut dolores quos fugit nihil dolore,
      reprehenderit voluptate voluptatibus iusto! Ipsam, ratione perferendis!
      Hic adipisci, necessitatibus reprehenderit qui quae, atque optio libero
      asperiores repellat suscipit, fuga sunt? Vero labore hic ab, nostrum
      repellendus magni fugit. Necessitatibus sint laborum pariatur. Neque
      possimus dignissimos harum? Vel, dicta modi tenetur pariatur voluptatem,
      sequi iusto recusandae tempore, error minus voluptatum repudiandae sint.
      Unde sunt placeat laborum temporibus voluptatibus consequuntur iste rem
      provident aperiam, consequatur itaque ipsam. Non? Fugit dolorum et
      dignissimos? Consequuntur ipsam odit unde corrupti perspiciatis iusto
      nihil, sed sequi, vel accusantium eum qui fuga explicabo mollitia debitis
      iste vitae, nemo magnam eos. Dignissimos, culpa ex! Architecto libero
      asperiores quisquam facilis laborum, ratione molestias assumenda, beatae,
      harum modi ab dolorem deleniti nobis dolore consequatur. Voluptatem unde
      modi et quo ut aliquam necessitatibus aut praesentium voluptate fuga.
      Officia consectetur in tempora, laborum repellendus numquam voluptate
      maiores neque optio placeat consequatur nulla repudiandae? Modi, hic.
      Impedit totam laudantium dolor itaque officia ea, quasi inventore quos
      minima eveniet assumenda. Quas, aspernatur suscipit similique dicta
      impedit ipsam, perspiciatis esse corporis nemo, ipsum unde. Fugiat cum
      earum ut asperiores debitis veniam, laborum id enim, officiis fuga nihil
      nesciunt, aspernatur explicabo! Tempora. At culpa impedit iure
      repudiandae quae nesciunt dolore aperiam voluptates, ea nam maxime fuga
      commodi iusto non magni, voluptas assumenda enim quam accusantium, quidem
      rem sit. Earum similique quasi nesciunt. Atque beatae numquam
      accusantium? Alias, aperiam officia exercitationem dolor porro deserunt
      eos quam adipisci totam nihil praesentium saepe ut neque consequatur, est
      nisi. Quisquam, placeat iusto. Deleniti saepe harum incidunt.
    </div>
  </main>
  <aside class="basis-3/10 hidden lg:block">
    <div class="flex ms-7 flex-col gap-4 h-full ">
      <div class="sticky top-0 bg-black z-10 ">
        <div
          class="
            focus-within:border-sky-500 duration-200 border-2 border-white/20 rounded-full
            mt-2
          "
        >
          <form action="" class="flex items-center p-1">
            <label for="search" class="p-2">
              <%= heroicon "magnifying-glass", options: { class: "w-4 h-4 text-white/60" } %>
            </label>
            <input
              class="outline-none caret-sky-500"
              id="search"
              type="text"
              name="search"
              placeholder="Ara"
            >
          </form>
        </div>
      </div>
      <div
        class="
          border-white/20 border-2 rounded-2xl pt-3 ps-4 flex flex-col sticky top-[-70px]
        "
      >
        <h1 class="text-xl capitalize text-white font-bold">Premium'a abone ol</h1>
        <p class="mt-2">Yeni özellikleri açmak için abone ol ve uygun olman durumunda içerik
          üreticisi gelir payı kazan.</p>
        <div class="my-4">
          <a
            href="#"
            class="
              text-white font-bold bg-sky-500 rounded-full px-4 py-2 capitalize
              hover:bg-sky-600 duration-300
            "
          >
            abone ol
          </a>
        </div>
      </div>
      <div
        class="
          flex flex-col gap-5 border-white/20 border-2 rounded-2xl pt-4 sticky top-[125px]
        "
      >
        <h1 class="text-white font-[1000] text-xl capitalize px-3">Neler oluyor?</h1>
        <a class="flex flex-col hover:bg-white/5 duration-300 px-3" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Türkiye tarihinde gündemde</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Ruby türkiye</h4>
          <span class="text-white/50 text-[13px]">12,3B gönderi</span>
        </a>
        <a class="flex flex-col hover:bg-white/5 duration-300 px-3" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Türkiye tarihinde gündemde</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Tailwind Css</h4>
          <span class="text-white/50 text-[13px]">1,3 B gönderi</span>
        </a>
        <a class="flex flex-col hover:bg-white/5 duration-300 px-3" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Rails Junior Developer</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Tuncay Dinler</h4>
          <span class="text-white/50 text-[13px]">10 Proje</span>
        </a>

        <%= link_to(
          "Daha fazla göster",
          "#",
          class: "text-sky-500 text-sm hover:bg-white/5 duration-300 pb-3 px-3 h-10",
        ) %>
      </div>
      <ul
        class="
          flex flex-col gap-7 border-white/20 border-2 rounded-2xl px-3 py-4 w-full sticky
          top-[510px]
        "
      >
        <li>
          <h3 class="text-white font-[750] text-xl">Kimi takip etmeli</h3>
        </li>
        <% 3.times do %>
          <% name = Faker::Name.unique.name %>
          <li>
            <a href="#" class="flex gap-2 justify-between">
              <div class="flex gap-2">
                <div>
                  <%= image_tag "https://picsum.photos/id/#{rand(1..200)}/200/300",
                  class: "w-11 h-11 rounded-full" %>
                </div>
                <div>
                  <h3 class="text-sm font-bold text-white truncate hover:underline"><%= name.slice(0..7) %></h3>
                  <span class="text-white/60">@<%= name.downcase.gsub(" ", "").slice(0..7) %></span>
                </div>
              </div>
              <div class="flex items-center">
                <%= button_tag "Takip et",
                class:
                  "bg-white text-black rounded-full text-nowrap font-bold px-4 py-1 hover:bg-white/85 duration-300" %>
              </div>
            </a>
          </li>
        <% end %>
        <li>
          <%= link_to("Daha fazla göster", "#", class: "text-sky-500 text-sm") %>
        </li>
      </ul>
      <div class="text-white/50 sticky top-[860px] ">
        <nav class="space-x-3 space-y-3">
          <%= link_to "Hizmet şartları", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Gizlilik Politikası", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Çerez politikası", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "imprint", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Erişilebilirlik", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Reklam bilgisi", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "daha fazla ...", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "#", class: "capitalize text-sm hover:underline" do %>
            <span>&copy 2025 X Corp</span>
          <% end %>
        </nav>
      </div>
    </div>
  </aside>
</div>
