<% items = [
  {
    href_class: "flex group",
    div_class:
      "flex items-center justify-center group-hover:bg-white/10 duration-300 rounded-full",
    icon_name: "home",
    icon_class: "text-white w-7 h-7",
    header_name: "Anasayfa",
    header_class: "font-bold text-xl",
    icon_variant: :solid,
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300 
                                    rounded-full",
    icon_name: "magnifying-glass",
    icon_class: "text-white w-7 h-7",
    header_name: "Keşfet",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300 
                                    rounded-full",
    icon_name: "bell",
    icon_class: "text-white w-7 h-7",
    header_name: "Bildirimler",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "envelope",
    icon_class: "text-white w-7 h-7",
    header_name: "Mesajlar",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "grok.svg",
    icon_class: "text-white w-7 h-7 invert",
    header_name: "Grok",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "bookmark",
    icon_class: "text-white w-7 h-7",
    header_name: "Yer işaretleri",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "briefcase",
    icon_class: "text-white w-7 h-7",
    header_name: "İşler",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "users",
    icon_class: "text-white w-7 h-7",
    header_name: "Topluluklar",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "check-badge",
    icon_class: "text-white w-7 h-7",
    header_name: "Premium",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "bolt",
    icon_class: "text-white w-7 h-7",
    header_name: "Onaylı kuruluşlar",
    header_class: "text-xl text-nowrap",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "user",
    icon_class: "text-white w-7 h-7",
    header_name: "Profil",
    header_class: "text-xl",
  },
  {
    href_class: "flex group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "ellipsis-horizontal-circle",
    icon_class: "text-white w-7 h-7",
    header_name: "Daha fazla",
    header_class: "text-xl",
  },
] %>
<div class="flex mx-auto container">
  <header class="basis-3/20 xl:basis-2/10">
    <div class=" flex items-start sticky top-0 flex-col gap-2 xl:gap-3 h-screen ">
      <div class=" invert text-white w-full flex justify-center xl:justify-start ">
        <div
          class="
            flex items-center justify-center py-3 ms-1 px-3 space-x-5 rounded-full
            hover:bg-gray-300 duration-300
          "
        >
          <%= image_tag "logo.svg", class: "w-7 h-7" %>
        </div>
      </div>
      <% items.each do |item| %>
        <div class="w-full">
          <a
            href="#"
            class="
              <%= item[:href_class]%> items-center justify-center
              xl:justify-start
            "
          >
            <div class="<%= item[:div_class]%> xl:p-2 xl:pl-4 xl:pr-6 xl:space-x-5">
              <% if item[:icon_name] == "grok.svg" %>
                <%= image_tag item[:icon_name], class: item[:icon_class] %>
              <% else %>
                <%= heroicon item[:icon_name],
                options: {
                  class: "#{item[:icon_class]} m-3 xl:mr-5 xl:my-0 xl:mx-0",
                },
                variant: (item[:icon_variant] || :outline) %>
              <% end %>
              <h1 class="<%= item[:header_class]%> hidden xl:block">
                <%= item[:header_name] %>
              </h1>
            </div>
          </a>
        </div>
      <% end %>
      <div class="flex justify-center mt-1 w-full">
        <a
          href="#"
          class="text-black bg-white rounded-full text-xl p-0 xl:py-3 xl:px-12"
        >
          <h1 class="hidden xl:block font-bold text-lg">Gönderi yayınla</h1>
          <%= heroicon "pencil-square",
          options: {
            class: "block xl:hidden w-7 h-7 mx-3 my-3 ",
          } %>
        </a>
      </div>
      <div class=" h-full flex items-end justify-center xl:justify-start w-full ">
        <a
          href="#"
          class="
            flex gap-2 justify-between mb-8 xl:ms-3 xl:w-full hover:bg-white/10 duration-300
            rounded-full ps-2 py-2 me-2
          "
        >
          <div class="flex gap-2">
            <div class="flex justify-center">
              <%= image_tag "https://picsum.photos/id/#{rand(1..200)}/200/300",
              class: "w-11 h-11 rounded-full" %>
            </div>
            <div class="hidden xl:block">
              <h3 class="text-sm font-bold text-white">Tuncay Dinler</h3>
              <span class="text-white/60">@tuncaydinler</span>
            </div>
          </div>
          <div class="xl:flex items-center hidden xl:me-4">
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-5 h-5 xl:w-6 xl:h-6 hover:text-sky-300 text-white/80",
              } %>
            <% end %>

          </div>
        </a>
      </div>
    </div>
  </header>
  <main class="basis-9/10 lg:basis-5/10 border-white/20 border-x flex flex-col">
    <div
      class="
        grid grid-cols-2 h-14 border-b border-white/20 sticky top-0 backdrop-blur-md
        bg-black/60
      "
    >
      <a
        href="#"
        class="hover:bg-white/10 duration-300 flex items-center justify-center"
      >
        <h3 class="text-md text-gray-400">Sana özel</h3>
      </a>
      <a
        href="#"
        class="
          hover:bg-white/10 duration-300 flex flex-col items-center justify-between
        "
      >
        <hr class="invisible">
        <h3 class="text-md text-white font-bold">Takip</h3>
        <hr class="border-2 w-13 rounded-full border-blue-500">
      </a>
    </div>
    <div class="flex gap-2 border-b border-white/20">
      <div class="img">
        <%= image_tag "https://picsum.photos/id/237/200/300",
        class: "w-11 h-11 rounded-full m-3 cursor-pointer" %>
      </div>
      <%= turbo_frame_tag :posts_form,
      src: new_post_path,
      loading: :lazy,
      class: "w-full group" %>

    </div>
    <div id="posts" class="flex flex-col">
      <% @page.records.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
    <% unless @page.last? %>
      <%= turbo_frame_tag :pagination, src: root_path(page: @page.next_param, format: :turbo_stream), class: "flex justify-center my-6",loading: :lazy do %>
        <svg
          class="mr-3 h-5 w-5 animate-spin text-sky-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        <span class="font-medium text-sky-600">
          Yükleniyor...
        </span>
      <% end %>
    <% end %>
  </main>
  <aside class="basis-3/10 hidden lg:block">
    <div class="flex ms-7 flex-col gap-4 h-full ">
      <div class="sticky top-0 bg-black z-10 ">
        <div
          class="
            focus-within:border-sky-500 duration-200 border-2 border-white/20 rounded-full
            mt-2
          "
        >
          <form action="" class="flex items-center p-1">
            <label for="search" class="p-2">
              <%= heroicon "magnifying-glass", options: { class: "w-4 h-4 text-white/60" } %>
            </label>
            <input
              class="outline-none caret-sky-500"
              id="search"
              type="text"
              name="search"
              placeholder="Ara"
            >
          </form>
        </div>
      </div>
      <div
        class="
          border-white/20 border-2 rounded-2xl pt-3 ps-4 flex flex-col sticky top-[-70px]
        "
      >
        <h1 class="text-xl capitalize text-white font-bold">Premium'a abone ol</h1>
        <p class="mt-2">Yeni özellikleri açmak için abone ol ve uygun olman durumunda içerik
          üreticisi gelir payı kazan.</p>
        <div class="my-4">
          <a
            href="#"
            class="
              text-white font-bold bg-sky-500 rounded-full px-4 py-2 capitalize
              hover:bg-sky-600 duration-300
            "
          >
            abone ol
          </a>
        </div>
      </div>
      <div
        class="
          flex flex-col gap-5 border-white/20 border-2 rounded-2xl pt-4 sticky top-[125px]
        "
      >
        <h1 class="text-white font-[1000] text-xl capitalize px-3">Neler oluyor?</h1>
        <a class="flex flex-col hover:bg-white/5 duration-300 px-3" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Türkiye tarihinde gündemde</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Ruby türkiye</h4>
          <span class="text-white/50 text-[13px]">12,3B gönderi</span>
        </a>
        <a class="flex flex-col hover:bg-white/5 duration-300 px-3" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Türkiye tarihinde gündemde</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Tailwind Css</h4>
          <span class="text-white/50 text-[13px]">1,3 B gönderi</span>
        </a>
        <a class="flex flex-col hover:bg-white/5 duration-300 px-3" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Rails Junior Developer</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Tuncay Dinler</h4>
          <span class="text-white/50 text-[13px]">10 Proje</span>
        </a>

        <%= link_to(
          "Daha fazla göster",
          "#",
          class: "text-sky-500 text-sm hover:bg-white/5 duration-300 pb-3 px-3 h-10",
        ) %>
      </div>
      <ul
        class="
          flex flex-col gap-7 border-white/20 border-2 rounded-2xl px-3 py-4 w-full sticky
          top-[510px]
        "
      >
        <li>
          <h3 class="text-white font-[750] text-xl">Kimi takip etmeli</h3>
        </li>
        <% @rand_users.each do |user| %>
          <li>
            <%= link_to profile_path(user.handle.delete("@")),class: "flex gap-2 justify-between" do %>
              <div class="flex gap-2">
                <div>
                  <%= image_tag "https://picsum.photos/id/#{rand(1..200)}/200/300",
                  class: "w-11 h-11 rounded-full" %>
                </div>
                <div>
                  <h3 class="text-sm font-bold text-white truncate hover:underline"><%= user.username %></h3>
                  <span class="text-white/60"><%= user.handle %></span>
                </div>
              </div>
              <div id="<%= dom_id(user)%>"class="flex items-center" onclick="event.stopPropagation()">
                <%= button_to "Takip et",
                user_follow_path(user.handle),
                method: :post,
                class:
                  "bg-white text-black rounded-full text-nowrap font-bold px-4 py-1 hover:bg-white/85 duration-300" %>
              </div>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to("Daha fazla göster", "#", class: "text-sky-500 text-sm") %>
        </li>
      </ul>
      <div class="text-white/50 sticky  top-[860px] ">
        <nav class="space-x-3 space-y-3">
          <%= link_to "Hizmet şartları", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Gizlilik Politikası", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Çerez politikası", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "imprint", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Erişilebilirlik", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Reklam bilgisi", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "daha fazla ...", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "#", class: "capitalize text-sm hover:underline" do %>
            <span>&copy 2025 X Corp</span>
          <% end %>
        </nav>
      </div>
    </div>
  </aside>
</div>
