<% items = [
  {
    href_class: "flex group",
    div_class:
      "flex items-center justify-center group-hover:bg-white/10 duration-300 rounded-full",
    icon_name: "home",
    icon_class: "text-white w-7 h-7",
    header_name: "Anasayfa",
    header_class: "font-bold text-xl",
    icon_variant: :solid,
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300 
                                    rounded-full",
    icon_name: "magnifying-glass",
    icon_class: "text-white w-7 h-7",
    header_name: "Keşfet",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300 
                                    rounded-full",
    icon_name: "bell",
    icon_class: "text-white w-7 h-7",
    header_name: "Bildirimler",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "envelope",
    icon_class: "text-white w-7 h-7",
    header_name: "Mesajlar",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "grok.svg",
    icon_class: "text-white w-7 h-7 invert",
    header_name: "Grok",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "bookmark",
    icon_class: "text-white w-7 h-7",
    header_name: "Yer işaretleri",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "briefcase",
    icon_class: "text-white w-7 h-7",
    header_name: "İşler",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "users",
    icon_class: "text-white w-7 h-7",
    header_name: "Topluluklar",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "check-badge",
    icon_class: "text-white w-7 h-7",
    header_name: "Premium",
    header_class: "text-xl",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "bolt",
    icon_class: "text-white w-7 h-7",
    header_name: "Onaylı kuruluşlar",
    header_class: "text-xl text-nowrap",
  },
  {
    href_class: "flex  group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "user",
    icon_class: "text-white w-7 h-7",
    header_name: "Profil",
    header_class: "text-xl",
  },
  {
    href_class: "flex group",
    div_class:
      "flex items-center group-hover:bg-white/10 duration-300
                                    rounded-full",
    icon_name: "ellipsis-horizontal-circle",
    icon_class: "text-white w-7 h-7",
    header_name: "Daha fazla",
    header_class: "text-xl",
  },
] %>
<div class="flex mx-auto container">
  <header class="basis-3/20 xl:basis-2/10">
    <div
      class="
        flex items-start sticky top-0 flex-col gap-5 md:gap-7 xl:gap-3 h-screen
      "
    >
      <div class=" invert text-white w-full flex justify-center xl:justify-start ">
        <div
          class="
            flex items-center justify-center py-3 ms-1 px-3 space-x-5 rounded-full
            hover:bg-gray-300 duration-300
          "
        >
          <%= image_tag "logo.svg", class: "w-7 h-7" %>
        </div>
      </div>
      <% items.each do |item| %>
        <div class="w-full">
          <a
            href="#"
            class="
              <%= item[:href_class]%> items-center justify-center
              xl:justify-start
            "
          >
            <div class="<%= item[:div_class]%> xl:p-2 xl:pl-4 xl:pr-6 xl:space-x-5">
              <% if item[:icon_name] == "grok.svg" %>
                <%= image_tag item[:icon_name], class: item[:icon_class] %>
              <% else %>
                <%= heroicon item[:icon_name],
                options: {
                  class: item[:icon_class],
                },
                variant: (item[:icon_variant] || :outline) %>
              <% end %>
              <h1 class="<%= item[:header_class]%> hidden xl:block">
                <%= item[:header_name] %>
              </h1>
            </div>
          </a>
        </div>
      <% end %>
      <div class="flex justify-center mt-1 w-full">
        <a
          href="#"
          class="text-black bg-white rounded-full text-xl p-0 xl:py-3 xl:px-12"
        >
          <h1 class="hidden xl:block font-bold text-lg">Gönderi yayınla</h1>
          <%= heroicon "pencil-square",
          options: {
            class: "block xl:hidden w-7 h-7 mx-3 my-3 ",
          } %>
        </a>
      </div>
      <div class="h-full flex items-end justify-center xl:justify-start w-full">
        <div class="flex gap-2 justify-between mb-8 xl:ms-3 xl:w-full">
          <div class="flex gap-2">
            <div class="flex justify-center">
              <%= image_tag "https://picsum.photos/id/#{rand(1..200)}/200/300",
              class: "w-11 h-11 rounded-full" %>
            </div>
            <div class="hidden xl:block">
              <h3 class="text-sm font-bold text-white">Tuncay Dinler</h3>
              <span class="text-white/60">@tuncaydinler</span>
            </div>
          </div>
          <div class="xl:flex items-center hidden xl:me-4">
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-5 h-5 xl:w-6 xl:h-6 hover:text-sky-300 text-white/80",
              } %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="basis-9/10 lg:basis-5/10 border-gray-700 border-x flex flex-col">
    <div
      class="
        grid grid-cols-2 h-14 border-b border-gray-700 sticky top-0 backdrop-blur-md
        bg-black/60
      "
    >
      <a
        href="#"
        class="hover:bg-white/10 duration-300 flex items-center justify-center"
      >
        <h3 class="text-md text-gray-400">Sana özel</h3>
      </a>
      <a
        href="#"
        class="
          hover:bg-white/10 duration-300 flex flex-col items-center justify-between
        "
      >
        <hr class="invisible">
        <h3 class="text-md text-white font-bold">Takip</h3>
        <hr class="border-2 w-13 rounded-full border-blue-500">
      </a>
    </div>
    <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fw7.pngwing.com%2Fpngs%2F702%2F915%2Fpng-transparent-ruby-on-rails-round-logo-tech-companies.png&f=1&nofb=1&ipt=62710d85e48fcde9f2099b075daf0f99e6136c8e1b7e72b4e3986a5775a0a2e4&ipo=images" %>
    <%= heroicon "gif", options: { class: "w-6 h-6 text-sky-400" }, variant: :outline %>
    <%= heroicon "photo", options: { class: "w-6 h-6 text-sky-400" }, variant: :outline %>
    <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgarudalinux.org%2Fimages%2Fgaruda%2Fss%2Fneofetch.webp&f=1&nofb=1&ipt=8e54e514f2fe037c99ca0c7e037eb9e3fee14ffb45eb2b6b783c5c70549ac731&ipo=images" %>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolorum
    quisquam neque nam, accusantium velit nobis nulla quibusdam officiis.
    Commodi, sit explicabo natus iste sequi sunt rerum. Quasi, illo inventore.
    Nobis blanditiis omnis exercitationem! Corrupti minus corporis distinctio
    vitae facere itaque atque deleniti, dolorem, repellendus facilis numquam
    tempore et nulla ducimus perspiciatis fuga mollitia? Dignissimos distinctio
    exercitationem modi maiores quod! Nam non maxime quam, ab placeat deleniti
    minus? Nesciunt recusandae laboriosam similique voluptate cumque incidunt
    sit sint rerum nisi quo temporibus, corporis deserunt nihil molestiae totam
    iusto perferendis nostrum? Non? Ex voluptatibus facilis numquam odit
    sapiente molestiae ipsum, omnis doloremque! Magnam assumenda voluptates
    facere similique nobis. Iste nulla asperiores vero sequi doloribus aperiam
    esse ab blanditiis maxime reprehenderit! Rerum, pariatur! Neque nihil aut
    ea earum facilis aspernatur totam accusamus odit, laboriosam enim sunt
    labore maxime velit eveniet in placeat consequuntur expedita assumenda
    optio quam. Numquam, blanditiis? Nemo reprehenderit explicabo vel. Maxime
    sint animi voluptatum ducimus veritatis vitae voluptate ut aperiam magni
    recusandae. Laudantium magni commodi dolore. Velit laboriosam nisi veniam
    numquam voluptatem fuga maiores iure porro voluptatibus, obcaecati vero
    repellendus? In unde sed necessitatibus fugiat incidunt laudantium,
    repudiandae iure voluptatum labore doloribus, fuga totam molestiae magnam
    repellat placeat tempora quidem saepe est odio! Nisi quod sunt dolorem
    culpa? Expedita, nisi! Rerum, in. Necessitatibus, dolor amet velit sint quo
    suscipit accusamus voluptate molestias earum nemo at deserunt culpa
    voluptatem. Voluptatibus, modi! Sunt recusandae ad minima quidem ea dolorem
    nisi eveniet distinctio? Blanditiis doloribus doloremque dolor omnis
    accusantium et dignissimos ratione distinctio itaque ex delectus, veritatis
    unde tempore possimus dolores aperiam ab repudiandae vero nulla minima nam
    voluptate? Nulla earum labore ipsum. Dicta saepe explicabo inventore
    corporis assumenda iure vitae totam odit molestias incidunt ratione
    voluptatum tenetur id accusantium aspernatur quo provident praesentium
    labore commodi culpa, aut sequi nobis! Ipsam, tenetur laudantium. Veniam
    repellendus architecto necessitatibus quas quaerat incidunt, modi, itaque
    est, odit facilis eaque officia molestiae qui? Delectus, odit, facere unde
    aliquam voluptate enim accusantium, architecto velit labore nam esse
    veniam. Molestiae accusamus nam architecto ratione necessitatibus odio
    deserunt dignissimos quasi obcaecati placeat soluta tempore corrupti quo ex
    a cum, repudiandae excepturi animi esse itaque omnis ab dolor. Soluta,
    repellendus suscipit! Culpa iure nemo alias voluptatibus harum consequatur
    necessitatibus quibusdam repudiandae ut dolor nam, odio sequi enim quis
    magni. Eum in voluptatibus quasi aperiam libero rerum excepturi rem
    provident, eaque sed! Ipsa voluptas totam placeat consequatur iusto minus
    quasi nam rerum et eum, quibusdam ipsam sunt omnis laboriosam fugiat
    corrupti praesentium sequi ab eligendi, illum quaerat optio debitis
    exercitationem? Aliquam, perspiciatis. Dicta non reprehenderit veritatis
    atque, doloribus unde alias animi autem sapiente ipsam quo sint veniam
    sequi officiis aperiam repudiandae nemo blanditiis ducimus modi ullam
    beatae minus fugit impedit dolorem. Sapiente? Quam id iusto eligendi
    nostrum perspiciatis ullam quos modi tempore possimus! Ex laudantium sed
    tenetur fugit totam aliquam distinctio fugiat, rerum repudiandae
    exercitationem velit odit illum quo vero mollitia quas! Quia explicabo,
    illo, ut nostrum optio quisquam ipsum ducimus, vero quibusdam excepturi
    voluptate rerum assumenda ratione perspiciatis! Voluptatibus praesentium
    fuga alias, consequatur nobis quaerat reiciendis tenetur adipisci similique
    eos officia. Consequatur culpa ratione aperiam, sequi nobis ipsa quae
    possimus! Hic libero, nisi illo veritatis quam, provident non sint officia
    natus aperiam eligendi cupiditate corporis iusto placeat vero nam voluptas.
    Sequi. Enim officiis illo distinctio tempora architecto in modi. Sequi
    officia, alias accusamus, delectus mollitia dolorum voluptate corrupti
    natus magnam aspernatur perferendis consectetur veniam, doloremque omnis
    eligendi! Numquam, aperiam. Dolore, necessitatibus! Perferendis quidem
    dolorem illum deserunt officia similique alias suscipit voluptate
    laboriosam doloremque cum aut ad reiciendis voluptas consectetur quia,
    quaerat asperiores quae deleniti! Possimus porro earum, dicta voluptatibus
    provident illo. Ipsam officia nihil quis sed minima minus dignissimos
    architecto beatae earum cumque maiores voluptatibus, iste facilis ipsum quo
    aliquid, temporibus quod sapiente eaque a laborum mollitia consectetur.
    Quo, aut magnam. Sint, iusto illo veritatis, illum similique mollitia nihil
    dicta quod, vero est ex aut porro. Illo quae voluptate excepturi modi
    incidunt porro at, earum exercitationem tempora a vitae doloribus itaque.
    Laborum debitis, illum vitae, nostrum dolore consequatur, doloribus
    recusandae praesentium sequi in minima? Magni commodi, accusantium eaque
    reprehenderit repudiandae dolorem ab possimus iure. Esse delectus ea illo
    quas voluptates dicta. Ipsum voluptates, quas, dolorem possimus incidunt id
    ratione maxime asperiores, libero nihil debitis! Reprehenderit corrupti
    saepe unde iure perferendis quasi odio sit consequatur ut eum, accusantium
    error! Temporibus, quam atque? Eos provident vitae praesentium tempora ad
    inventore repudiandae quasi! Magnam id dicta aliquam temporibus, nam
    nostrum autem. Eum nam laudantium maiores ipsa illo. Esse, quae! Vel,
    veritatis necessitatibus? Dignissimos, dolor. Commodi earum beatae,
    praesentium quasi expedita incidunt delectus, eaque rerum, hic similique
    perspiciatis quaerat ea debitis quis ratione corporis? Maiores, amet
    reiciendis. Mollitia suscipit molestiae repudiandae non porro maxime
    veritatis. Quam veniam, sunt illo, autem velit quod quo hic tempora, unde
    voluptatem numquam optio eius modi! Velit nisi, consequatur similique magni
    assumenda accusantium voluptate, eius minima, architecto cumque officiis
    at! Officia est architecto eum cumque accusantium delectus atque odio
    numquam nam id praesentium sint dicta quis ipsa minima laboriosam, ducimus
    vero voluptas perspiciatis pariatur soluta asperiores obcaecati, nesciunt
    excepturi. Sint. Necessitatibus doloribus debitis deserunt qui pariatur,
    iure dolorem reiciendis velit eveniet est alias unde perspiciatis ad
    cupiditate voluptatem repellendus neque dolore voluptatum quidem.
    Repudiandae quae minus qui eius quaerat quas! Recusandae voluptatem
    laudantium maiores, soluta quis culpa quibusdam nulla, voluptatum
    repellendus sequi officiis, odio nemo? Minus iste reiciendis libero
    voluptate laboriosam, dignissimos quod repellendus optio sed ipsam. Ullam,
    autem praesentium! Facilis fugiat quasi totam, esse rem reiciendis.
    Perferendis quo officiis a ex reprehenderit pariatur aut delectus
    dignissimos minima. Beatae doloribus cumque officia eius perferendis
    nesciunt fugit? Hic reiciendis at deserunt. Hic facere sunt nesciunt
    laboriosam, doloribus modi voluptate nulla distinctio atque sed architecto
    debitis quaerat, illo sequi neque voluptatem libero quasi perspiciatis
    delectus! Voluptate temporibus est nesciunt repellat esse nostrum. Eaque
    delectus incidunt nesciunt commodi! Praesentium, quam reiciendis neque
    saepe cupiditate sequi? Debitis, similique. Animi porro sit autem
    reiciendis incidunt, accusantium ut nostrum officia accusamus consequuntur
    non aperiam architecto distinctio. Maxime cupiditate voluptates velit odio
    error libero esse quibusdam, sapiente at aliquid corporis hic numquam
    facilis doloribus debitis a repellat eaque? Repellendus, dolore? Nihil
    corporis tenetur beatae odio vero iure. Suscipit aperiam dolore a
    laboriosam tempora voluptates, ea alias quam, dolorum sed natus pariatur
    placeat, quisquam sapiente aspernatur ad voluptatem. Vel quod provident
    nobis deleniti aliquam suscipit accusamus quasi laborum. Nostrum nam optio
    fugiat omnis, obcaecati minima id nesciunt nihil voluptatem ut officia
    consectetur ad eius dolor mollitia vitae esse non qui suscipit aliquam
    impedit? Consectetur expedita hic ab odio! Quae est, soluta, dicta ut
    corrupti nisi excepturi ipsum vel tenetur atque esse numquam nostrum.
    Asperiores quisquam obcaecati, cumque libero similique eius id possimus
    reiciendis consequatur recusandae corporis molestias assumenda! Quasi,
    dolorem voluptatum. Illo vel maxime ducimus voluptatem, eveniet assumenda?
    Distinctio molestiae soluta aliquam tenetur vel fuga cum libero explicabo
    esse quasi, error accusamus! Modi similique temporibus eos nobis culpa? Ut
    quia odit vitae, quos minima natus eum at beatae excepturi eos reiciendis.
    Laborum aspernatur tempore voluptate dicta, doloremque illo alias iure esse
    quidem! Aut sequi minus eaque autem quis. Inventore, excepturi. Itaque
    harum doloremque aperiam fugit, voluptatem veniam corporis necessitatibus
    illo dolorem! Quo impedit sequi odio cupiditate ullam dignissimos,
    architecto ad, perspiciatis numquam optio laudantium voluptatibus illo
    molestiae reprehenderit?
  </main>
  <aside class="basis-3/10 hidden lg:block">
    <div class="flex flex-col ms-7 gap-4 sticky top-0">
      <div
        class="
          focus-within:border-sky-500 duration-200 border-2 border-white/20 rounded-full
          mt-2
        "
      >
        <form action="" class="flex items-center p-1">
          <label for="search" class="p-2">
            <%= heroicon "magnifying-glass", options: { class: "w-4 h-4 text-white/60" } %>
          </label>
          <input
            class="outline-none caret-sky-500"
            id="search"
            type="text"
            name="search"
            placeholder="Ara"
          >
        </form>
      </div>
      <div class="border-white/20 border-2 rounded-2xl pt-3 ps-4 flex flex-col">
        <h1 class="text-xl capitalize text-white font-bold">Premium'a abone ol</h1>
        <p class="mt-2">Yeni özellikleri açmak için abone ol ve uygun olman durumunda içerik
          üreticisi gelir payı kazan.</p>
        <div class="my-4">
          <a
            href="#"
            class="
              text-white font-bold bg-sky-500 rounded-full px-4 py-2 capitalize
              hover:bg-sky-600 duration-300
            "
          >
            abone ol
          </a>
        </div>
      </div>
      <div class="flex flex-col gap-5 border-white/20 border-2 rounded-2xl px-3 py-4">
        <h1 class="text-white font-[1000] text-xl capitalize">Neler oluyor?</h1>
        <a class="flex flex-col hover:bg-white/5 duration-300" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Türkiye tarihinde gündemde</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Ruby türkiye</h4>
          <span class="text-white/50 text-[13px]">12,3B gönderi</span>
        </a>
        <a class="flex flex-col" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Türkiye tarihinde gündemde</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Tailwind Css</h4>
          <span class="text-white/50 text-[13px]">1,3 B gönderi</span>
        </a>
        <a class="flex flex-col" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Rails Junior Developer</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Tuncay Dinler</h4>
          <span class="text-white/50 text-[13px]">10 Proje</span>
        </a>
        <a class="flex flex-col" href="#">
          <div class="flex justify-between">
            <span class="text-white/50 text-sm">Dünyada Son dakika</span>
            <%= button_tag title: "Daha fazla",class: "hover:bg-sky-950 rounded-full duration-300 " do %>
              <%= heroicon "ellipsis-horizontal",
              options: {
                class: "w-6 h-6 hover:text-sky-300 text-white/50",
              } %>
            <% end %>
          </div>
          <h4 class="text-white font-bold capitalize">Dünya Sağlık Örgütü</h4>
          <span class="text-white/50 text-[13px]">103,6 B gönderi</span>
        </a>
        <%= link_to("Daha fazla göster", "#", class: "text-sky-500 text-sm") %>
      </div>
      <ul
        class="
          flex flex-col gap-7 border-white/20 border-2 rounded-2xl px-3 py-4 w-full
        "
      >
        <li>
          <h3 class="text-white font-[750] text-xl">Kimi takip etmeli</h3>
        </li>
        <% 3.times do %>
          <% name = Faker::Name.unique.name %>
          <li>
            <a href="#" class="flex gap-2 justify-between">
              <div class="flex gap-2">
                <div>
                  <%= image_tag "https://picsum.photos/id/#{rand(1..200)}/200/300",
                  class: "w-11 h-11 rounded-full" %>
                </div>
                <div>
                  <h3 class="text-sm font-bold text-white truncate hover:underline"><%= name.slice(0..7) %></h3>
                  <span class="text-white/60">@<%= name.downcase.gsub(" ", "").slice(0..7) %></span>
                </div>
              </div>
              <div class="flex items-center">
                <%= button_tag "Takip et",
                class:
                  "bg-white text-black rounded-full text-nowrap font-bold px-4 py-1 hover:bg-white/85 duration-300" %>
              </div>
            </a>
          </li>
        <% end %>
        <li>
          <%= link_to("Daha fazla göster", "#", class: "text-sky-500 text-sm") %>
        </li>
      </ul>
      <div class="text-white/50 h-100">
        <nav class="space-x-3 space-y-3">
          <%= link_to "Hizmet şartları", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Gizlilik Politikası", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Çerez politikası", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "imprint", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Erişilebilirlik", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "Reklam bilgisi", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "daha fazla ...", "#", class: "capitalize text-sm hover:underline" %>
          <%= link_to "#", class: "capitalize text-sm hover:underline" do %>
            <span>&copy 2025 X Corp</span>
          <% end %>
        </nav>
      </div>
    </div>
  </aside>
</div>
