<div class="flex justify-between items-center my-3">
  <!-- Comment button-->
  <%= link_to new_post_comment_path(post),title: "Yorum yap",data: { turbo_frame: "modal-frame", custom_open: "modal-frame" },
    class: "flex flex-row gap-1 group hover:bg-sky-950 duration-400 rounded-full p-2" do%>
    <%= heroicon "chat-bubble-oval-left",
      options: {
        class: "w-5 h-5 text-white/50 group-hover:text-sky-600",
      },
      variant: :outline %>
    <span id="post_comments_count_<%= dom_id(post)%>" class="text-sm text-white/50 group-hover:text-sky-600"><%= post.comments.count %></span>
  <%end%>
  <!-- Repost button-->
  <div
    class="
      flex flex-row gap-1 group hover:bg-green-950 rounded-full p-2 duration-400
    "
    title="Yeniden yayınla"
  >
    <%= heroicon "arrow-path-rounded-square",
    options: {
      class: "w-5 h-5 text-white/50 group-hover:text-green-600",
    },
    variant: :outline %>
    <span class="text-sm text-white/50 group-hover:text-green-600"><%= post.like_count %></span>
  </div>
  <!-- Like button-->
  <div id="<%= dom_id(post,:like)%>">
    <% if Current.user.id.in?(post.likes.pluck(:user_id)) %>
      <%= button_to post_unlike_path(post),
    method: :delete,
    title: "Beğenmekten vazgeç",
  class:
    "
        flex flex-row gap-1 group hover:bg-rose-950 rounded-full p-2 duration-400
  " do %>
        <%= heroicon "heart", options: { class: "w-5 h-5 text-rose-600" }, variant: :solid %>
        <span class="text-sm text-rose-600"><%= post.like_count %></span>

      <% end %>
    <% else %>
      <%= button_to post_like_path(post),
    method: :post,
    title: "Beğen",
  class:
    "
        flex flex-row gap-1 group hover:bg-rose-950 rounded-full p-2 duration-400
  " do %>
        <%= heroicon "heart",
        options: {
          class: "w-5 h-5 text-white/50 group-hover:text-rose-600",
        },
        variant: :outline %>
        <span class="text-sm text-white/50 group-hover:text-rose-600"><%= post.like_count %></span>

      <% end %>
    <% end %>
  </div>
  <!-- View button-->
  <div
    class="
      flex flex-row gap-1 group hover:bg-sky-950 rounded-full p-2 duration-400
    "
    title="Görüntüle"
  >
    <%= heroicon "chart-bar",
    options: {
      class: "w-5 h-5 text-white/50 group-hover:text-sky-600",
    },
    variant: :outline %>
    <span class="text-sm text-white/50 group-hover:text-sky-600"><%= post.like_count %></span>
  </div>

  <div class="flex flex-row me-5">
    <!--Bookmark button -->
    <div class="group hover:bg-sky-950 rounded-full duration-400 p-3">
      <%= heroicon "bookmark",
      options: {
        class: "w-5 h-5 text-white/50 group-hover:text-sky-600",
      },
      variant: :outline %>
    </div>
    <!-- Share button-->
    <div class="group hover:bg-sky-950 rounded-full duration-400 p-3">
      <%= heroicon "arrow-up-tray",
      options: {
        class: "w-5 h-5 text-white/50 group-hover:text-sky-600",
      },
      variant: :outline %>
    </div>

  </div>
